.masquaradeShell {
  width: 50vw;
  margin: auto;
  padding-top: 85px;
  padding-bottom: 75px;
  padding-left: 25px;
  padding-right: 25px;
  
  text-align: justify;
  font-style: normal;
  font-size: 16px;
  
  background-color: black;
  background-image: url('https://imgur.com/qaa36uy.png');
  background-size: 1000px;
  background-repeat: repeat-x, no-repeat;
  
  border:solid 2pt #d69523;
  box-shadow: 0 0 10px #02050c;
  
}

@media only screen and (max-width: 600px) {
  .masquaradeShell {
      width: 80vw;
	  margin: auto;
	  padding-top: 85px;
	  padding-bottom: 75px;
	  padding-left: 25px;
	  padding-right: 25px;
	  
	  text-align: justify;
	  font-style: normal;
	  font-size: 16px;
	  
	  background-color: black;
	  background-image: url('https://imgur.com/8pU3F41.png');
	  background-size: 800px;
	  background-repeat: repeat-x, no-repeat;
	  
	  border:solid 2pt #d69523;
	  box-shadow: 0 0 10px #02050c;
  }
}

.masquaradeTitle {
width:23vw; 
text-align: justify; 
margin: right; 

padding-top: 5px; 
padding-left: 4vw; 
padding-right: 5px; 
padding-bottom: 25px; 

color: #f0d09b; 
font-size: 18px; 
font-style: normal; 
font-weight: bold; 
}

.masquaradeBody {
	width:23vw; 
	text-align: justify;
	margin: right;
	
	padding-top: 15px; 
	padding-left: 25px; 
	padding-right: 25px; 
	padding-bottom: 30px; 
	
	outline: double 4px #d69523; 
	outline-offset: -5px; 
	
	color: #f0d09b; 
	font-size: 14px; 
	font-style: normal;
	
	background-color: #141427; 
	background-repeat: no-repeat, no-repeat; 
	background-size: 750px; 
	border-radius: 10px;
}

@media only screen and (max-width: 600px) {
	.masquaradeBody {
		width:70vw; 
		text-align: justify;
		margin: right;
		
		padding-top: 15px; 
		padding-left: 25px; 
		padding-right: 25px; 
		padding-bottom: 30px; 
		
		outline: double 4px #d69523; 
		outline-offset: -5px; 
		
		color: #f0d09b; 
		font-size: 14px; 
		font-style: normal;
		
		background-color: #141427; 
		background-repeat: no-repeat, no-repeat; 
		background-size: 750px; 
		border-radius: 10px;
}